p{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 16px;
    color: #000000;
}

h1{
    font-family: Stencil, fantasy;
    font-size: 36px;
    color: #000000;
}