.centerMain {
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px 2px #00000043;
    
}

body{
    background-color: #E4F1FA;

}

header{
  background: #C4E2F2;
background: -moz-linear-gradient(top, #C4E2F2 0%, #B8D2ED 50%, #89A9D8 100%);
background: -webkit-linear-gradient(top, #C4E2F2 0%, #B8D2ED 50%, #89A9D8 100%);
background: linear-gradient(to bottom, #C4E2F2 0%, #B8D2ED 50%, #89A9D8 100%);
    color: white;
    text-align: center;
    padding: 20px;
    
}




.box{
    max-width: 800px;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    font-size: 16px;
    border:4px solid #a4bfe0
}

.box2{
    max-width: 800px;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    border:4px solid #a4bfe0
}

.center {
    text-align: center;
    text-shadow: 2px 2px 2px #00000043;
}

/*header board*/
h2 {
    max-width: 800px;
    -webkit-box-shadow: 1px 14px 38px 0px rgba(0,0,0,0.1); 
    box-shadow: 1px 14px 38px 0px rgba(0,0,0,0.1);
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 2px #00000043;
    border-radius: 20px;
    font-size: 32px;
    color: rgb(252, 253, 255);
    padding: 12px;
    background: #C4E2F2;
background: -moz-radial-gradient(center, #C4E2F2 0%, #B8D2ED 50%, #89A9D8 100%);
background: -webkit-radial-gradient(center, #C4E2F2 0%, #B8D2ED 50%, #89A9D8 100%);
background: radial-gradient(ellipse at center, #C4E2F2 0%, #B8D2ED 50%, #89A9D8 100%);
border:4px solid #a4bfe0
}

h3 {
    text-align: left;
    font-size: 20px;
    color: rgb(3, 26, 60);
}

.list {
    text-align: center;
    font-size: 15px;
    color: rgb(3, 26, 60);
    text-shadow: 2px 2px 2px #00000043;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:4px solid #a4bfe0
}

.navigationBar{
   text-align: center; 
   margin-top: 20px; 
   margin-bottom: 20px;
   }


   
a {
    text-decoration: none;
    color: rgb(6, 31, 69);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
        color: rgb(202, 235, 255);
    }

.educationalTable {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.math {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height:230px;
    border-radius: 20px;
    border:4px solid #1c6199
}

.science {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height:330px;
    border-radius: 20px;
    border:4px solid #1c6199
}

.smallText {
    font-size: 12px;
}

.button {
color: rgb(255, 255, 255); font-size: 18px; line-height: 18px; padding: 10px; border-radius: 32px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: radial-gradient(rgb(87, 191, 255) 0%, rgb(17, 158, 219) 47%, rgb(48, 93, 202) 100%);  border: 2px solid rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
background: #57BFFF; }
.myButton:active {
background: #305DCA; }

input:hover{
    color: #031727;
}

form{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    margin: 40px;
    border:4px solid #a4bfe0
}

input[type="text"]{
    width: 95%;
    padding: 8px;
    border-radius: 20px;
}

